* {
        margin: 0;
        font-family:'Open Sans', sans-serif;     
}

.text-primary{
        color:#FD6E0A;
}

.btn-primary{
                height: 64;
                border-radius: 5px;
                background-color: #FD6E0A;
                color:white;
                font-weight:700;
                font-size: 20px;
                border: 0;
                padding:18px 35px;
        
}

nav{
                display: flex;
                justify-content: space-between;
                margin: 50px 200px;
}
.nav-title{
        font-size: 45px;
        font-weight: 800;
}
nav ul{
        display:flex;
        align-items: center;
}
nav li{
        list-style: none;
        margin-left: 50px;        
}
        
.header{
        background-color: rgb(235, 225, 211);
        background-image: url('../images/header_bg.png'), url('../images/developer.png');
        background-repeat: no-repeat;
        background-position:bottom right, left;
}

.banner{
        margin: 0 200px;
        display: flex;
        align-items: center;
        
}

.banner-title{
        font-size: 85px;
        font-weight: 800;

}
.banner-sub-title{
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 20px;

}
.banner-description{
        color: midnightblue;
        font-size: 16px;
        margin-bottom: 30px;
}
main{
        max-width: 1140px;
        margin: 0 auto;
}
.about{
        margin-top: 130px;
        background-color: #FFF8f3;
        border-radius: 10px
        padding: 130px 150px;

}
.about-title{
        text-align: center;
        margin-bottom: 30px;


}
.section-description{
        color: #757575;
        font-size: 18px;
        margin-bottom: 30px;

}
